@font-face {
    font-family: "almundo-font-family";
    src: url("./almundo-font-family.eot?8b138d0c6a6d0845ccc088b8bd624ab1?#iefix") format("embedded-opentype"),
url("./almundo-font-family.woff2?8b138d0c6a6d0845ccc088b8bd624ab1") format("woff2"),
url("./almundo-font-family.woff?8b138d0c6a6d0845ccc088b8bd624ab1") format("woff"),
url("./almundo-font-family.ttf?8b138d0c6a6d0845ccc088b8bd624ab1") format("truetype"),
url("./almundo-font-family.svg?8b138d0c6a6d0845ccc088b8bd624ab1#almundo-font-family") format("svg");
}

i {
    line-height: 1;
}

i:before {
    font-family: almundo-font-family !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.icons-bathrobes:before {
    content: "\f101";
}
.icons-bathtub:before {
    content: "\f102";
}
.icons-beach-pool-facilities:before {
    content: "\f103";
}
.icons-beach:before {
    content: "\f104";
}
.icons-business-center:before {
    content: "\f105";
}
.icons-children-club:before {
    content: "\f106";
}
.icons-coffe-maker:before {
    content: "\f107";
}
.icons-deep-soaking-bathtub:before {
    content: "\f108";
}
.icons-fitness-center:before {
    content: "\f109";
}
.icons-garden:before {
    content: "\f10a";
}
.icons-kitchen-facilities:before {
    content: "\f10b";
}
.icons-newspaper:before {
    content: "\f10c";
}
.icons-nightclub:before {
    content: "\f10d";
}
.icons-restaurant:before {
    content: "\f10e";
}
.icons-safety-box:before {
    content: "\f10f";
}
.icons-separate-bredroom:before {
    content: "\f110";
}
.icons-sheets:before {
    content: "\f111";
}
.icons-caret-down:before {
    content: "\f112";
}
.icons-caret-up:before {
    content: "\f113";
}
.icons-search:before {
    content: "\f114";
}
.icons-star:before {
    content: "\f115";
}
