/**Definicion de colores de textos  base **/
.text-color-a {
    color: #0c75ae;
}

.text-color-b {
    color: #fdba12;
}

.text-color-c {
    color: #444444;
}

.text-color-d {
    color: #df6700;
}

.text-coler-e {
    color: #ffffff;
}

/**Definicion de colores de fondo base **/

.background-color-a {
    background-color: #0c75ae;
}

.background-color-b {
    background-color: #fdba12;
}

.background-color-c {
    background-color: #444444;
}

.background-color-d {
    background-color: #df6700;
}

.background-coler-e {
    background-color: #ffffff;
}

/**
definicion para dispositivos moviles
**/
@media (max-width: 991.98px) {
    .navbar-dark-blue {
        margin-top: 1px;
        padding: 0 auto;
        background: #0a3b7c !important;
        height: 4rem;
        border-top: 1px solid #013477;
        border-bottom: 1px solid #3c6299;
    }

    img#logo-app {
        height: 2rem;
    }

    .filter-container {
        min-height: 3rem;
        background-color: #ffffff;
        position: sticky;
        top: 4rem;
        z-index: 1020;
    }
    .filter-form-container {
        min-height: 100%;
        background-color: #ffffff;
        position: sticky;
        top: 7rem;
        z-index: 1020;
    }
    .hotel-panel {
        margin-bottom: 1.25rem;
        padding: 0.56rem;
        background-color: #ffffff;
    }

    .hotel-row {
        padding: 1.25rem 0;
    }

    .sep {
        margin-top: 2rem;
        border-top: 1px #444444 dashed;
    }

    .hotel-img {
        max-width: 100%;
        max-height: 13.75rem;
    }

    .hotel-description {
        margin-top : 0.9375rem;
    }

    .hotel-title {
        font-size: 1.2rem;
    }

    .hotel-stars-content i {
        margin-right: 0.2rem;
    }

    .stars-content {
        margin-top: 0.5rem !important;
        font-size: 1.5rem;
    }

    .amenities-content {
        margin-top: 0.5rem !important;
        font-size: 1.5rem;
    }

    .amenities-content i {
        margin-right: 1rem;
    }

    .hotel-price {
        margin-top : 2rem !important;
        padding-top : 1rem !important;
    }
    .description {
        font-size: 1rem
    }

    .price {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.5rem;
    }

    .price-number {
        font-size: 2.5rem;
        display: inline-block;
        vertical-align: middle;
    }



    .hotel-description {
        margin-top: 20px !important;
        font-size: 0.7rem
    }

    .hotel-btn-gird {
        margin-top: 0rem;
        margin-bottom: 2rem;
        width: 100%;
    }

}

/**
definicion para navegadores
**/
@media (min-width: 992px) {
    .navbar-dark-blue {
        margin-top: 1px;
        padding: 0 auto;
        background: #0a3b7c !important;
        height: 6rem;
        border-top: 1px solid #013477;
        border-bottom: 1px solid #3c6299;
    }

    img#logo-app {
        height: 3rem;
    }

    .filter-container {
        display: none;
    }
    .filter-form-container {
        display: none;
    }

    .sep {
        /*margin-top: 2rem;*/
        border-left: 1px #828282 dashed;
    }

    .hotel-panel {
        margin-bottom: 1.25rem;
        padding: 0.5rem;
        background-color: #ffffff;
    }

    .hotel-row {
        padding: 2rem 2rem 0 2rem;
    }

    .hotel-img {
        max-width: 100%;
        max-height: 17.87rem;
    }

    .hotel-form .content {
        margin-bottom: 1.25rem;
    }

    .hotel-price {
        padding : 2rem !important;
    }

    .hotel-btn-gird {
        margin-top: 0rem;
        width: 100%;
    }

    .hotel-description {
        margin-left: 20px !important;
        font-size: 1rem
    }
    .stars-content {
        margin-top: 0.5rem !important;
        font-size: 1rem;
    }

    .hotel-stars-content i {
        margin-right: 0.2rem;
    }

    .amenities-content {
        margin-top: 0.5rem !important;
        font-size: 1rem;
    }

    .amenities-content i {
        margin-right: 0.5rem;
    }
    .price {
        display: inline-block;
        vertical-align: middle;
        font-size: 1rem;
    }
    .price-number {
        font-size: 2rem;
        display: inline-block;
        vertical-align: middle;
    }

    .description {
        font-size: 0.7rem;
    }

    .hotel-price{
        height: 100%;
    }
    .hotel-description{
        height: 100%;
    }
}

body {
    background-color: #f4f4f4 !important;
}

input[type=text] {
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    color: #d1d1d1;
    padding : 0.3rem;
    font-size: 1rem;
}

.almundo-text-blue {
    font-size: 0.75rem;
    color: #0c75ae;
    font-weight: bold;
}

.align-icon-middle:before {
    vertical-align: middle
}

.hotel-panel div {
    padding: 0;
    margin: 0;
}


/**
Definicion de estilos para la estructura de los filtros
 */

.filter-panel {
    background-color: #ffffff;
    margin-bottom: 0.2rem !important;
}

.filter-panel .header {
    color: #0c75ae;
    /*font-size: 1rem;*/
    padding: 0.3rem;
}

.filter-panel .body {
    /*font-size: 1rem;*/
    padding: 0.3rem !important;
}

.filter-panel i {
    padding-right: 0.25rem;
}

/**
Definicion de estilos para el boto primario
 */

.hotel-btn-primary {
    background-color: #002c77;
    padding : 0.3rem;
    color: #ffffff;
    font-size: 1rem;
    /*height: 2.5rem;*/
    border-bottom: 1px solid #00153d;
    border-radius: 2px;
}

.hotel-btn-primary:hover {
    color: #fff;
    background-color: #0c75ae;
    border-color: #00153d;
}

.hotel-btn-primary:focus, .hotel-btn-primary.focus {
    box-shadow: 0 0 0 0.1rem rgba(0, 44, 119, 0.8);
}
/**
TOdo : //Verificar estilo no se aplica
 */
.collapsed .icons-caret-up:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}