<div class="row filter-container justify-content-center align-items-center">
    <div class="d-flex flex-column" data-toggle="collapse" data-target="#form-container-xs"
         aria-expanded="false" aria-controls="form-container-xs">
            <span class="text align-self-center p-2 almundo-text-blue">Filtrar <i
                    class="icons-caret-down align-icon-middle"></i></span>
    </div>
</div>
<div id="form-container-xs" class="row filter-form-container collapse">
    <div class="col-lg-12 filter-panel content">
        <div class="header" data-toggle="collapse" data-target="#form-filter-xs"
             aria-expanded="false" aria-controls="form-filter">
            <strong>
                            <span class="hotel-title text-color-a">
                                <i class="icons-search align-icon-middle"></i>
                                <span>Nombre del hotel</span><i
                                    class="icons-caret-up align-icon-middle float-right"></i>
                            </span>
            </strong>
        </div>
        <div id="form-filter-xs" class="body collapse show">
            <div class="form-group row">
                <div class="col-12 col-lg-8 px-1">
                    <input type="text" class="form-control-plaintext" id="name-hotel-xs" value=""
                           placeholder="Ingrese el nombre del hotel" ng-model="hotel.name">
                </div>
                <div class="col-12 col-lg-4 px-1">
                    <button type="button" class="btn w-100 hotel-btn-primary" ng-click="hotel.get()"><strong>Aceptar</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 filter-panel content">
        <div class="header">
            <strong data-toggle="collapse" data-target="#form-stars-xs"
                    aria-expanded="false" aria-controls="form-stars-xs">
                        <span class="hotel-title text-color-a">
                            <i class="icons-star align-icon-middle"></i>
                            <span>Estrellas</span>
                            <i class="icons-caret-up align-icon-middle float-right"></i>
                        </span>
            </strong>
        </div>
        <div id="form-stars-xs" class="body collapse show">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="all-starts-xs" ng-click="hotel.validateStartCheck()" ng-model="hotel.allStars">
                <label class="custom-control-label text-color-c" for="all-starts">Todas las estrellas</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="five-starts-xs" ng-model="hotel.fiveStars" ng-checked="hotel.fiveStars">
                <label class="custom-control-label text-color-b" for="five-starts-xs">
                    <span><i class="icons-star align-icon-middle"></i></span>
                    <span><i class="icons-star align-icon-middle"></i></span>
                    <span><i class="icons-star align-icon-middle"></i></span>
                    <span><i class="icons-star align-icon-middle"></i></span>
                    <span><i class="icons-star align-icon-middle"></i></span>
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="four-starts-xs" ng-model="hotel.fourStars" ng-checked="hotel.fourStars">
                <label class="custom-control-label text-color-b" for="four-starts-xs">
                    <span><i class="icons-star align-icon-middle"></i></span>
                    <span><i class="icons-star align-icon-middle"></i></span>
                    <span><i class="icons-star align-icon-middle"></i></span>
                    <span><i class="icons-star align-icon-middle"></i></span>
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="three-starts-xs" ng-model="hotel.threeStars" ng-checked="hotel.threeStars">
                <label class="custom-control-label text-color-b" for="three-starts-xs">
                    <span><i class="icons-star align-icon-middle"></i></span>
                    <span><i class="icons-star align-icon-middle"></i></span>
                    <span><i class="icons-star align-icon-middle"></i></span>
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="two-starts-xs" ng-model="hotel.twoStars" ng-checked="hotel.twoStars">
                <label class="custom-control-label text-color-b" for="two-starts-xs">
                    <span><i class="icons-star align-icon-middle"></i></span>
                    <span><i class="icons-star align-icon-middle"></i></span>
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="one-starts-xs" ng-model="hotel.oneStars" ng-checked="hotel.oneStars">
                <label class="custom-control-label text-color-b" for="one-starts-xs">
                    <span><i class="icons-star align-icon-middle"></i></span>
                </label>
            </div>
        </div>

    </div>
</div>
<div class="row align-items-center hotel-row">
    <div class="col-lg-3 d-none d-lg-block align-self-start hotel-form">
        <div class="row ">
            <div class="col-lg-12 filter-panel content">
                <div class="header">
                    <span class="hotel-title text-color-c"><strong>Filtros</strong></span>
                </div>
            </div>
            <div class="col-lg-12 filter-panel content">
                <div class="header" data-toggle="collapse" data-target="#form-filter"
                     aria-expanded="false" aria-controls="form-filter">
                    <strong>
                            <span class="hotel-title text-color-a">
                                <i class="icons-search align-icon-middle"></i>
                                <span>Nombre del hotel</span><i
                                    class="icons-caret-up align-icon-middle float-right"></i>
                            </span>
                    </strong>
                </div>
                <div id="form-filter" class="body collapse show">
                    <div class="form-group row">
                        <div class="col-lg-8 px-1">
                            <input type="text" class="form-control-plaintext" id="nameHotel" value=""
                                   placeholder="Ingrese el nombre del hotel" ng-model="hotel.name">
                        </div>
                        <div class=" col-lg-4 px-1">
                            <button type="button" class="btn w-100 hotel-btn-primary" ng-click="hotel.get()"><strong>Aceptar</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 filter-panel content">
                <div class="header">
                    <strong data-toggle="collapse" data-target="#form-stars"
                            aria-expanded="false" aria-controls="form-stars">
                        <span class="hotel-title text-color-a">
                            <i class="icons-star align-icon-middle"></i>
                            <span>Estrellas</span>
                            <i class="icons-caret-up align-icon-middle float-right"></i>
                        </span>
                    </strong>
                </div>
                <div id="form-stars" class="body collapse show">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="all-starts" ng-click="hotel.validateStartCheck()" ng-model="hotel.allStars">
                        <label class="custom-control-label text-color-c" for="all-starts">Todas las estrellas</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="five-starts" ng-model="hotel.fiveStars" ng-checked="hotel.fiveStars">
                        <label class="custom-control-label text-color-b" for="five-starts">
                            <span><i class="icons-star align-icon-middle"></i></span>
                            <span><i class="icons-star align-icon-middle"></i></span>
                            <span><i class="icons-star align-icon-middle"></i></span>
                            <span><i class="icons-star align-icon-middle"></i></span>
                            <span><i class="icons-star align-icon-middle"></i></span>
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="four-starts" ng-model="hotel.fourStars" ng-checked="hotel.fourStars">
                        <label class="custom-control-label text-color-b" for="four-starts">
                            <span><i class="icons-star align-icon-middle"></i></span>
                            <span><i class="icons-star align-icon-middle"></i></span>
                            <span><i class="icons-star align-icon-middle"></i></span>
                            <span><i class="icons-star align-icon-middle"></i></span>
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="three-starts" ng-model="hotel.threeStars" ng-checked="hotel.threeStars">
                        <label class="custom-control-label text-color-b" for="three-starts">
                            <span><i class="icons-star align-icon-middle"></i></span>
                            <span><i class="icons-star align-icon-middle"></i></span>
                            <span><i class="icons-star align-icon-middle"></i></span>
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="two-starts" ng-model="hotel.twoStars" ng-checked="hotel.twoStars">
                        <label class="custom-control-label text-color-b" for="two-starts">
                            <span><i class="icons-star align-icon-middle"></i></span>
                            <span><i class="icons-star align-icon-middle"></i></span>
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="one-starts" ng-model="hotel.oneStars" ng-checked="hotel.oneStars">
                        <label class="custom-control-label text-color-b" for="one-starts">
                            <span><i class="icons-star align-icon-middle"></i></span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-lg-9 d-lg-block align-self-start">
        <!--panel de informacion de los hoteles-->
        <div class="hotel-panel" ng-repeat="item in hotel.hotels">
            <div class="row">
                <div class="col-12 col-lg-3 panel text-center">
                    <img ng-src="{{item.srcImg}}" class="hotel-img"
                         alt="result">
                </div>
                <div class="col-12 col-lg-5">
                    <div class="hotel-description">
                        <span class="hotel-title text-color-a"><strong>{{item.name}}</strong></span>
                        <div class="stars-content text-color-b">
                            <span ng-if="item.stars>=1"><i class="icons-star align-icon-middle"></i></span>
                            <span ng-if="item.stars>=2"><i class="icons-star align-icon-middle"></i></span>
                            <span ng-if="item.stars>=3"><i class="icons-star align-icon-middle"></i></span>
                            <span ng-if="item.stars>=4"><i class="icons-star align-icon-middle"></i></span>
                            <span ng-if="item.stars>=5"><i class="icons-star align-icon-middle"></i></span>
                        </div>
                        <div class="amenities-content text-color-c">
                            <span ng-repeat="aminit in item.amenities"><i class="icons-{{aminit}} align-icon-middle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-12  col-lg-4 ">
                    <div class="hotel-price text-center sep">
                        <span class="description text-color-c d-lg-block">Precio por noche por</span>
                        <span class="description text-color-c d-lg-block">habitación</span>
                        <div class="text-center">
                            <span class="text-color-d">
                            <span class="price">ARS</span> <span class="price-number"><strong>{{item.price}}</strong></span></span>
                        </div>
                        <button type="button" class="btn hotel-btn-primary hotel-btn-gird w-100"><strong>Ver
                            hotel</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>