<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>almundo</title>
</head>
<body>
<nav class="navbar sticky-top navbar-dark-blue">
    <a class="navbar-brand" href="#">
        <img id="logo-app" src="<%=require('./assets/images/logo-almundo.svg')%>" height="30" alt="">
    </a>
</nav>
<div class="container-fluid">
    <div class="row filter-container justify-content-center align-items-center">
        <div class="d-flex flex-column">
            <span class="text align-self-center p-2 almundo-text-blue">Filtrar <i
                    class="icons-caret-down align-icon-middle"></i></span>
        </div>
    </div>
    <div class="row align-items-center hotel-row">
        <div class="col-lg-3 d-none d-lg-block align-self-start hotel-form">
            <div class="row ">
                <div class="col-lg-12 filter-panel content">
                    <div class="header">
                        <span class="hotel-title text-color-c"><strong>Filtros</strong></span>
                    </div>
                </div>
                <div class="col-lg-12 filter-panel content">
                    <div class="header" data-toggle="collapse" data-target="#form-filter"
                         aria-expanded="false" aria-controls="form-filter">
                        <strong >
                            <span class="hotel-title text-color-a">
                                <i class="icons-search align-icon-middle"></i>
                                <span>Nombre del hotel</span><i
                                    class="icons-caret-up align-icon-middle float-right"></i>
                            </span>
                        </strong>
                    </div>
                    <div id="form-filter" class="body collapse show">
                        <div class="form-group row">
                            <div class="col-lg-8 px-1">
                                <input type="text" class="form-control-plaintext" id="nameHotel" value=""
                                       placeholder="Ingrese el nombre del hotel">
                            </div>
                            <div class=" col-lg-4 px-1">
                                <button type="button" class="btn w-100 hotel-btn-primary"><strong>Aceptar</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 filter-panel content">
                    <div class="header">
                        <strong data-toggle="collapse" data-target="#form-stars"
                                aria-expanded="false" aria-controls="form-stars">
                        <span class="hotel-title text-color-a">
                            <i class="icons-star align-icon-middle"></i>
                            <span>Estrellas</span>
                            <i class="icons-caret-up align-icon-middle float-right"></i>
                        </span>
                        </strong>
                    </div>
                    <div id="form-stars" class="body collapse show">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="all-starts">
                            <label class="custom-control-label text-color-c" for="all-starts">Todas las estrellas</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="all-starts">
                            <label class="custom-control-label text-color-b" for="all-starts">
                                <span><i class="icons-star align-icon-middle"></i></span>
                                <span><i class="icons-star align-icon-middle"></i></span>
                                <span><i class="icons-star align-icon-middle"></i></span>
                                <span><i class="icons-star align-icon-middle"></i></span>
                                <span><i class="icons-star align-icon-middle"></i></span>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="all-starts">
                            <label class="custom-control-label text-color-b" for="all-starts">
                                <span><i class="icons-star align-icon-middle"></i></span>
                                <span><i class="icons-star align-icon-middle"></i></span>
                                <span><i class="icons-star align-icon-middle"></i></span>
                                <span><i class="icons-star align-icon-middle"></i></span>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="all-starts">
                            <label class="custom-control-label text-color-b" for="all-starts">
                                <span><i class="icons-star align-icon-middle"></i></span>
                                <span><i class="icons-star align-icon-middle"></i></span>
                                <span><i class="icons-star align-icon-middle"></i></span>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="all-starts">
                            <label class="custom-control-label text-color-b" for="all-starts">
                                <span><i class="icons-star align-icon-middle"></i></span>
                                <span><i class="icons-star align-icon-middle"></i></span>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="all-starts">
                            <label class="custom-control-label text-color-b" for="all-starts">
                                <span><i class="icons-star align-icon-middle"></i></span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9 d-lg-block align-self-start">
            <!--panel de informacion de los hoteles-->
            <div class="hotel-panel">
                <div class="row">
                    <div class="col-12 col-lg-3 panel text-center">
                        <img src="<%=require('./assets/images/hotels/9817258_55_b.jpg')%>" class="hotel-img"
                             alt="result">
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="hotel-description">
                            <span class="hotel-title text-color-a"><strong>Hotel Stefanos</strong></span>
                            <div class="stars-content text-color-b">
                                <span><i class="icons-star align-icon-middle"></i></span>
                                <span><i class="icons-star align-icon-middle"></i></span>
                                <span><i class="icons-star align-icon-middle"></i></span>
                            </div>
                            <div class="amenities-content text-color-c">
                                <span><i class="icons-restaurant align-icon-middle"></i></span>
                                <span><i class="icons-sheets align-icon-middle"></i></span>
                                <span><i class="icons-business-center align-icon-middle"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12  col-lg-3 ">
                        <div class="hotel-price text-center sep">
                            <span class="description text-color-c d-lg-block">Precio por noche por</span>
                            <span class="description text-color-c d-lg-block">habitación</span>
                            <div class="text-center">
                            <span class="text-color-d">
                            <span class="price">ARS</span> <span class="price-number"><strong>863</strong></span></span>
                            </div>
                            <button type="button" class="btn hotel-btn-primary hotel-btn-gird w-100"><strong>Ver
                                hotel</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</div>
</body>
</html>